<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishFlavorMapper">

<!--    批量插入口味-->
    <insert id="insertBatch">
        insert into dish_flavor(dish_id, name, value)
        VALUES
        <foreach collection="flavors" item="df" separator=",">
            (#{df.dishId},#{df.name},#{df.value})
        </foreach>
    </insert>

<!--    根据dish_id批量删除-->
    <delete id="deleteListById">
        delete from dish_flavor
        where dish_id in
        <foreach collection="ids" item = "id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

<!--    删除指定dish_id的口味-->
    <delete id="deleteByDishId">
        delete from dish_flavor
        where dish_id = #{id}
    </delete>

<!--    根据菜品id查询口味-->
    <select id="findByDishId" resultType="com.sky.entity.DishFlavor">
        select * from dish_flavor
        where dish_id = #{id};
    </select>
</mapper>