<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.ReportMapper">

    <select id="sumByGroup" resultType="java.util.Map">
        select DATE(order_time) as day,sum(amount) as total from orders
        where status=5
        and order_time &gt;= #{begin}
        and order_time &lt; #{end}
        group by DATE(order_time)
        order by day;
    </select>

<!--    查询创建时间在begin和end之间的用户有多少-->
    <select id="countUsersByMap" resultType="java.lang.Integer">
        select count(*) from user
        <where>
            <if test="beginTime!=null">
                and create_time &gt;= #{beginTime}
            </if>
            <if test="endTime !=null">
                and create_time &lt; #{endTime}
            </if>
        </where>
    </select>

<!--    查询订单创建时间在begin和end之间的订单有多少-->
    <select id="countOrderByMap" resultType="java.lang.Integer">
        select count(*) from orders
        <where>
            <if test="beginTime!=null">
                and order_time &gt;= #{beginTime}
            </if>
            <if test="endTime !=null">
                and order_time &lt; #{endTime}
            </if>
            <if test="status!=null">
                and status =#{status}
            </if>
        </where>
    </select>

<!--    查询销售量为前十的商品数据-->
    <select id="findTopNGoods" resultType="java.util.Map">
        select od.name, sum(od.number) as number
        from orders as o inner join order_detail as od
        ON o.id = od.order_id
        <where>
            <if test="status!=null">
               and o.status = #{status}
            </if>
            <if test="beginTime!=null">
              and  o.order_time &gt;= #{beginTime}
            </if>
            <if test="endTime!=null">
              and o.order_time &lt; #{endTime}
            </if>
        </where>
        GROUP BY od.name
        ORDER BY sum(od.number) desc, od.name
        limit #{N}
    </select>



</mapper>